<html>
    <head>
        <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login register</title>
    <style>
    html{
        padding:50px;
    }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <a href="/login"class="btn btn-lg btn-success">Login</a>
                <a href "/Signup" class="btn btn-lg btn-info">Register</a>
            </div>
        </div>
    </body>
</html>