<html>
    <head>
        <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login register</title>
    <style>
    html{
        padding:50px;
    }
    </style>
    </head>
    <body>
        <div class="container">
            <div class ="col-sm-6 col-sm-offset-3">
                <h2>Login</h2>
                <% if(message.length>0){%>
                <div class="alert alert-danger"><% message %></div>}
                <%}%>
                <form action="/login" method="post">
                <div class="form-group">
                    <lable>Username</lable>
                    <input type="text" class= "form-control" name="username">
                </div>
            
                <div class="form-group">
                    <lable>Password</lable>
                    <input type="password" class= "form-control" name="password">
                </div>
                <button type="ssubmit" class="btn btn-success btn-lg">Login</button>
            </form>
            <hr>
            <p>Need an account<a href="/signup">register</a>/p>
                <p>Go Back<a href='/'Home></a></p>
            </div>
        </div>
    </body>
</html>